<p>Date:{{currentDate | date}}</p>

<!--lowerpipe-->
<h1>
  {{ x | lowercase}}


<!--upperpipe-->
</h1>
<h2> {{y|uppercase  }}</h2>

<!--percentpipe-->
<h3>{{ a |percent:'0.1-3'}} </h3>

{{b|json}};

<table style="border: 2px solid blue;">

<head>
  <tr>
  <th>ID</th>
  <th>Name</th>
  <th>DOB</th>
  <th>Gender</th>
  <th>Fees</th>
</tr>
</head>

<body>
  <tr>
  <td>{{students.ID|uppercase}}</td>
  <td>{{students.Name|titlecase}}</td>
  <td>{{students.DOB|date:"mm/dd/yyyy"}}
  <td>{{students.Gender|uppercase}}</td>
  <td>{{students.Fees|currency:'INR':true}}</td>
</tr>
</body>
</table>